{% extends 'base.html.twig' %}

{% block title %}

    DocInTime - Find a Doctor, now. [Home]

{% endblock %}

{% block content %}

    <div class="home">
        <p class="bigtitle">DocInTime</p>
        <p class="title">The quickest way to find an appointment with a Doctor !</p>
    </div>

    {% include ':appointments:search_form.html.twig' %}

{% endblock %}