# To get started with security, check out the documentation:
# https://symfony.com/doc/current/security.html -
security:

    encoders:
       FOS\UserBundle\Model\UserInterface: bcrypt

    role_hierarchy:
        ROLE_DOCTOR: ROLE_USER
        ROLE_ADMIN: ROLE_DOCTOR

    providers:
       fos_userbundle:
           id: fos_user.user_provider.username

    firewalls:
       dev:
           pattern: ^/(_(profiler|wdt)|css|images|js)/
           security: false
       main_login:
           pattern: ^/login$
           anonymous: true
       main:
           pattern: ^/
           form_login:
               provider: fos_userbundle
               csrf_token_generator: security.csrf.token_manager
           logout:
                path: /logout
                target: /
           anonymous: true
    access_control:
        - { path: ^/$, roles: IS_AUTHENTICATED_ANONYMOUSLY}
        - { path: ^/register, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/user, roles: IS_AUTHENTICATED_REMEMBERED }