/* ------------ ------------ ------------ Global CSS (Whole page) ------------ ------------ ------------ */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #000;
}

/* ------------ ------------ ------------ Header (Logo/Navbar/etc) ------------ ------------ ------------ */

#header {

    position: relative;

    margin-bottom: 2.5%;

}

/*------------ ------------ Header : Logo ------------- ------------*/

#logo {
    display: inline-block;
    width: 200px;
    height: auto;
}

/*------------ ------------ Header : Reviews Alert ------------- ------------*/

.reviews-alert {

    text-decoration: none;

}

.reviews-alert:hover {

    text-decoration: none;
    background-color: dimgrey;
    border-radius: 2.5px; /* 0.5vw */
    padding: 2.5px; /* 0.5vw */
    color: white;

}

/* ------------ ------------ ------------ Content (Notices/Page) ------------ ------------ ------------ */

#content {

    /*margin-top : 5%;*/

}

/*------------ ------------ Content : Notices (Alerts) ------------- ------------*/

.notices {

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom : 2.5%;

}

.notices > .alert {

    margin-bottom: 0.5%;

}

/*------------ ------------ Content : Page Content ------------- ------------*/

.page_title, .page_title > h1, h1.page_title {

    text-align: center;
    margin-bottom: 2.5%;


}

/*------------ ------------ Content : Sections ------------- ------------*/

.section_title, .section_title > h2, h2.section_title {

    margin-bottom: 0.5%;

}

.section {

    margin-top: 2.5%;
    margin-bottom: 1%;

}

/*------------ ------------ Content : Homepage ------------- ------------*/

.home {

    margin-bottom: 2.5%;

}

/*------------ ------------ Content : Search Forms------------- ------------*/

.searchform {

    margin-bottom: 2.5%;

}

/*------------ ------------ Content : Search Results ------------- ------------*/

.results {
    margin-top: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-decoration: none;
}

.results > .row > .col-8 > .lien {
    color: #1d2124;
    text-decoration: none;
}

.results > .row > .col-8 > .lien > .element {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: #d0deff;
    padding: 1%;
    margin : 2%;
    position: relative;
    min-height: 120px;

}

.results > .row > .col-8 > .lien > .element:hover {
    background-color : #a6b3d4;
}

.results > .row > .col-8 > .lien > .element > .image {
    min-height: 15px;
    border-radius: 0.5rem;
    width: 20%;
    display: inline-block;
    max-width: 15%;
    height: auto;

}

.results > .row > .col-8 > .lien > .element > .content {
    position: absolute;
    top: 50%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%);
    display: inline-block;
    width: 80%;
    margin: auto;
    margin-left: 2.5%;

}

.results > .row >.col-8 > .lien >.element > .content > .float-left > .name {
    font-size: calc(1em + 1vw);
}

.results > .row > .col-8 > .lien > .element > .content > .float-left > .spe {
}

.results > .row > .col-8 > .lien > .element > .content > .float-right > .hour {
    font-weight: bold;
    font-size: calc(1.5em + 1vw);
}

.results > .row > .col-8 > .lien > .element > .content > .float-right > .distance {
    text-align: right;
}

.results > .row > .col-8 > .lien > .element > .content > .float-right > {
    position: absolute;
    top: 50%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    text-align: right;
}

.results > .row > .col-4 > #map {

    width: 100%;
    height: 300px;

}

/*------------ ------------ Content : Appointments Details ------------- ------------*/

.details {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: #d0deff;
    margin-bottom: 2%;
    padding-top: 1%;
}

.details > .row {
    margin-right: 1%;
    margin-left: 1%;
    padding: 1%;
}

.details > .row > {
    color: #1d2124;
    text-decoration: none;
}
.details > .row > .col-2 > .image {
    min-height: 15px;
    border-radius: 0.5rem;
    display: inline-block;
    height: auto;
}

.details > .row > .col-4 > .name {
    font-size: calc(1em + 1vw);
}

.details > .row > .col-4 > .spe {
    font-size: calc(0.8em + 0.5vw);
}

.details > .row > .col-4 {
    padding-left: 0%;
}

.details > .row > .col-6 {
    text-align: right;
}

.details > .row > .col-6 > .time {
    font-weight: bold;
    font-size: calc(1.5em + 1vw);
}

.details > .desc {
    margin-right: 3%;
    margin-left: 3%;
    padding: 1%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.details > .desc > .titre {

}

.address {
    color:lightslategray;
}
.acentrer{

    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);

}

.enbloc{

}

/*------------ ------------ Content : Menus ------------- ------------*/

.menu-bottom {

    margin-top: 2.5%;

}

.menu-bottom-unspaced {

    /*margin-top: 0.5%;*/

}

/*------------ ------------ Content : multiple form ------------- ------------*/

.putInline{
    display: inline-block;
}

.textebas{
    margin-bottom: 2.5%;
}

.putInline.thin {
    max-width: 3%;
}

.settings > .col{
    margin: 2%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}

.date{
    margin-bottom: 2%;
    margin-top: 3%;
    display:inline-block;
}

.date.txt{
    margin-left: 1%;

}
.date.field{
    margin-left: 3%;

}

.mettrepadd{
    border: 1px solid lightslategray;
    border-radius: 10px;
}

.textefin{
    margin-top: 2%;
    text-align: center;
}

.settings > .centre{
    border-right:1px solid lightslategray;
    border-left:1px solid lightslategray;
    margin-right: 0%;
}
.settings > .droite{
    margin-left: 0%;
}

.create_multiple{
    font-size: calc(0.7em + 0.5vw);

}
/* ------------ ------------ ------------ Scripts (JS) ------------ ------------ ------------ */

#scripts {
    
    display: none;
    
}

/* ------------ ------------ ------------ Footer (Legal/Info) ------------ ------------ ------------ */

#footer {

    width: 100%;
    margin: auto;
    margin-top: 2.5%;
    padding: 1%;

    text-align: center;
    font-size: calc(0.8em);

    background-color: darkgray;

}

#footer.long {

    margin-top: 25%;

}

/*------------ ------------ OTH ------------- ------------*/
/* TODO : Add other CSS parts/things here */

.form-inline > .input-group {
    margin-right: 2.5%;
}

.removed {

    text-decoration-line: line-through;
    color: grey;

}