/* Slag Dev Styles */

.form-inline > .input-group {
    margin-right: 2.5%;
}

/* Global styles */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #000;
}

/*------------ ------------ Header (Logo + Navbar + Reviews Message) ------------- ------------*/

#header {

    position: relative;

    margin-bottom: 5%;

}

#logo {
    display: inline-block;
    width: 200px;
    height: auto;
}

.reviews-alert {

    text-decoration: none;

}

.reviews-alert:hover {

    text-decoration: none;
    background-color: dimgrey;
    border-radius: 2.5px; /* 0.5vw */
    padding: 2.5px; /* 0.5vw */
    color: white;

}

/*------------ ------------ Content (Notices + Page Body) ------------- ------------*/

#content {

    /*margin-top : 5%;*/

}

/*------------ ------------ Notices (Alerts from Flashbag) ------------- ------------*/

.notices {

    width: 100%;
    margin-left: auto;
    margin-right: auto;

    margin-bottom : 5%;

}

.notices > .alert {

    margin-bottom: 5px;

}

/*------------ ------------ Search Result ------------- ------------*/

.result {
    margin-top: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #e9f4ff;
    text-decoration: none;
}

.result > .row >.col-8> .lien {
    color: #1d2124;
    text-decoration: none;
}

.result > .row>.col-8>.lien >  .element {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: #d0deff;
    padding: 1%;
    margin : 2%;
    position: relative;
    min-height: 120px;

}

.result > .row>.col-8>.lien > .element:hover {
    background-color : #a6b3d4;
}

.result > .row>.col-8>.lien >  .element  > .image {
    min-height: 15px;
    border-radius: 0.5rem;
    width: 20%;
    display: inline-block;
    max-width: 15%;
    height: auto;


}

.result >  .row>.col-8>.lien > .element > .content {
    position: absolute;
    top: 50%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%);
    display: inline-block;
    width: 80%;
    margin: auto;
    margin-left: 2.5%;

}

.result >  .row>.col-8>.lien >.element > .content > .float-left > .name {
    font-size: calc(1em + 1vw);
}
.result >.row>.col-8>.lien > .element >  .content > .float-left > .spe {
}
.result >.row>.col-8>.lien >.element >  .content > .float-right > .hour {
    font-weight: bold;
    font-size: calc(1.5em + 1vw);
}
.result >.row>.col-8>.lien >.element >  .content > .float-right > .distance {
    text-align: right;
}

.result >.row>.col-8>.lien >.element > .content > .float-right > {
    position: absolute;
    top: 50%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    text-align: right;
}

#content {
    margin-top: 75px;
}

/*------------ ------------ Appointment Details ------------- ------------*/

.details {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: #d0deff;
    margin-bottom: 2%;
    padding-top: 1%;
}

.result > .row {
    margin-right: 1%;
    margin-left: 1%;
    padding: 1%;
}

.result > .row > {
    color: #1d2124;
    text-decoration: none;
}
.result > .row>.col-2> .image {
    min-height: 15px;
    border-radius: 0.5rem;
    display: inline-block;
    height: auto;
}

.result > .row>.col-4> .name {
    font-size: calc(1em + 1vw);
}

.result > .row>.col-4> .spe {
    font-size: calc(0.8em + 0.5vw);
}

.result > .row>.col-4{
    padding-left: 0%;
}

.result > .row>.col-6{
    text-align: right;
}

.result > .row>.col-6>.time{
    font-weight: bold;
    font-size: calc(1.5em + 1vw);
}



.result > .desc {
    margin-right: 3%;
    margin-left: 3%;
    padding: 1%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: #a6b3d4;
}

.result > .desc >.titre{

}