{% extends "base.html.twig" %}

{% block title %}

    DocInTime - Find a Doctor, now. [Appointments - Add Single]

{% endblock %}

{% block page_title %}

    <h1 class="page_title">Ajout d'un Créneau de Rendez-vous</h1>

{% endblock %}

{% block content %}

    {{ form(form) }}

{% endblock %}