{% block content %}



<div class="result">
    <div class="row">
        <div class="col-8">
    <a class="lien" href="default.index">
    <div class="element" >

        <div class="image">
            <img class="img-fluid img-thumbnail" src="/assets/images/profil.png" alt="Card image cap" >
        </div>
        <div class ="content">
            <div class="float-left">
        <div class="name">
            Jean BONNOT
        </div>
        <div class="spe">
            Urologue
        </div>
            </div>
            <div class="float-right">
        <div class="hour">
            13:05
        </div>
        <div class="distance">
            500 m
        </div>
        </div>
        </div>

    </div>
    </a>


        <a class="lien" href="default.index">
            <div class="element" >

                <div class="image">
                    <img class="img-fluid img-thumbnail" src="/assets/images/profil.png" alt="Card image cap" >
                </div>
                <div class ="content">
                    <div class="float-left">
                        <div class="name">
                            Jean BONNOT
                        </div>
                        <div class="spe">
                            Urologue
                        </div>
                    </div>
                    <div class="float-right">
                        <div class="hour">
                            13:05
                        </div>
                        <div class="distance">
                            500 m
                        </div>
                    </div>
                </div>

            </div>
        </a>


        <a class="lien" href="default.index">
            <div class="element" >

                <div class="image">
                    <img class="img-fluid img-thumbnail" src="/assets/images/profil.png" alt="Card image cap" >
                </div>
                <div class ="content">
                    <div class="float-left">
                        <div class="name">
                            Jean BONNOT
                        </div>
                        <div class="spe">
                            Urologue
                        </div>
                    </div>
                    <div class="float-right">
                        <div class="hour">
                            13:05
                        </div>
                        <div class="distance">
                            500 m
                        </div>
                    </div>
                </div>

            </div>
        </a>


        <a class="lien" href="default.index">
            <div class="element" >


                    <img class="image img-fluid img-thumbnail" src="/assets/images/profil.png" alt="Card image cap" >

                <div class ="content">
                    <div class="float-left">
                        <div class="name">
                            Jean BONNOT
                        </div>
                        <div class="spe">
                            Urologue
                        </div>
                    </div>
                    <div class="float-right">
                        <div class="hour">
                            13:05
                        </div>
                        <div class="distance">
                            500 m
                        </div>
                    </div>
                </div>

            </div>
        </a>
        </div>
        <div class="col-4">
            FUTURE CARTE
        </div>
</div>

{% endblock %}