{% block content %}

    <h3> DEV : Form V3 : Inline</h3>

    <form class="form-inline" action="{{ path('appointments.results') }}" method="post">

        <div class="input-group"> <!-- Speciality selection -->
            <div class="input-group-addon"><span class="fa fa-graduation-cap"></span></div>
            <select class="form-control" id="searchDocSpec" placeholder="Wanted speciality">
                <!-- TODO : Add a FOR loop into Specialities -->
                <option value="1">Dentist</option>
                <option selected value="2">Generalist</option>
                <option value="3">Psy</option>
                <option value="4">Urologist</option>
                <option value="5">Anaesthetist</option>
                <!-- TODO : END FOR -->
            </select>
        </div>

        <div class="input-group">
            <div class="input-group-addon"><span class="fa fa-map"></span></div>
            <input type="text" class="form-control" id="searchLocation" placeholder="City name, zip code, street name, ...">
            <div class="input-group-btn"><button class="btn btn-success" type="button" onclick="<!-- TODO : JS Geolocation -->"><span class="fa fa-map-marker"></span></button></div>
        </div>

        <div class="input-group">
            <div class="input-group-addon"><span class="fa fa-clock-o"></span></div>
            <div class="input-group-addon"><label for="searchHour">From :</label></div>
            <input type="time" class="form-control" id="searchHour" value="{{ "now"|date("H:i") }}">
            <div class="input-group-btn"><button class="btn btn-success" type="button" onclick="<!-- TODO : JS Geolocation -->"><span class="fa fa-location-arrow"></span></button></div>
        </div>

        <button type="submit" class="btn btn-primary">DocInTime !</button>

    </form>

    <h3> DEV : Form V2 : Not inline</h3>

    <form action="/search" method="POST" id="search_form">

        <div class="form-group">
            <label for="doctorType">What type of doctor are you searching for ?</label>
            <select class="form-control" id="doctorType" aria-describedby="doctorTypeHelp" >
                <!-- Add a FOR loop into Specialities -->
                <option>Dentist</option>
                <option>Generalist</option>
                <option>Psy</option>
                <option>Urologist</option>
                <option>Anaesthetist</option>
                <!-- END FOR -->
            </select>
            <small id="doctorTypeHelp" class="form-text text-muted">Select the medical field in which you need an appointment</small>
        </div>

        <div class="form-group">
            <label for="location">Where should we search ?</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-google-plus-square"></span></span>
                    <input type="text" class="form-control" id="location" aria-describedby="locationHelp" placeholder="City name, zip code, street name, ...">
                    <span class="input-group-addon"><a class="btn btn-success" href="#LOCALIZE_ME_JS_MAYBE"><span class="fa fa-location-arrow"></span></a></span>
                </div>
            <small id="locationHelp" class="form-text text-muted">Enter a location, or click on the button to be automatically located</small>
        </div>

        <!-- <div class="form-group container">
            <div class="row">
                <div class='col-sm-6'>
                    <input type='text' class="form-control" id='datetime' />
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetime').datetimepicker();
                    });
                </script>
            </div>
        </div> -->

        <div class="form-group">
            <label for="hour">When ?</label>
            <input type="text" class="form-control" id="hour" aria-describedby="hourHelp" placeholder="Enter the desired hour for your appointment">
            <small id="hourHelp" class="form-text text-muted">When ?</small>
        </div>

        <button type="submit" class="btn btn-primary">ICON LAUNCH SEARCH</button>

    </form>

{% endblock %}