<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8" />
        <title>{% block title %}DocInTime - Find a Doctor, now.{% endblock %}</title>
        <link rel="icon" href="/assets/images/favicon_dev.png">

        {% block stylesheets %}
            <!-- CSS : Bootstrap (4.0.0-beta.2) -->
            <link rel="stylesheet" href=/assets/css/bootstrap.css>
            <!-- CSS : FontAwesome (4.7.0) -->
            <link rel="stylesheet" href=/assets/css/font-awesome.css>
            <!-- CSS : Our own CSS -->
            <link rel="stylesheet" href=/assets/css/global.css>
        {% endblock %}

    </head>

    <body>

        <div id="header">

            {% include 'navbar.html.twig' %}

            <div class="marge">
            </div>

        </div>

        <div class="content container">

            {% block page_title %}{% endblock %}

            {% include 'flashbags.html.twig' %}

            {% block content %}{% endblock %}

        </div>

        <div class="scripts">

            <!-- JS : JQuery (3.2.1) -->
            <script src="/assets/js/jquery-3.2.1.js"></script>
            <!-- JS : Popper -->
            <script src="/assets/js/popper.js"></script>
            <!-- JS : Bootstrap (4.x.x) -->
            <script src="/assets/js/bootstrap.js"></script>

            <!-- Custom JS -->
            <script src="/assets/js/app.js"></script>

            {% block javascripts %}{% endblock %}

        </div>


        {% block footer %}
            <!--<div class="footer">

                <p>
                    Projet Tutoré - Département Informatique - IUT Lyon1, site de Bourg-en-Bresse<br/>
                    Étudiants : Dyvia Fleury, Théo Champion et Tom-Brian Garcia
                </p>

            </div>-->
        {% endblock %}

    </body>
</html>
