<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8" />
        <title>{% block title %}DocInTime - Find a Doctor, now.{% endblock %}</title>
        <link rel="icon" href="/assets/images/favicon_dev.png">

        {% block stylesheets %}
            <!-- CSS : Bootstrap (4.0.0-beta.2) -->
            <link rel="stylesheet" href=/assets/css/bootstrap.css>
            <!-- CSS : FontAwesome (4.7.0) -->
            <link rel="stylesheet" href=/assets/css/font-awesome.css>
            <!-- CSS : Our own CSS -->
            <link rel="stylesheet" href=/assets/css/global.css>
        {% endblock %}

    </head>

    <body>

        <header id="header">

            {% include 'navbar.html.twig' %}

            <div class="alert alert-info" role="alert">
                Ce projet est en développement , nous avons besoin de vos avis...
                Venez jeter un oeil à la page <a class="reviews-alert alert-link" href="{{ path('feedback_add') }}">
                    <span class="fa fa-long-arrow-right"></span>
                    Feedback : Avis, Améliorations & Bugs
                    <span class="fa fa-long-arrow-left"></span>
                </a><br/>
                Si ce système vous permettait de trouver un médecin (généraliste ou spécialiste) le plus rapidement possible, quelles améliorations voudriez-vous voir ?
            </div>

        </header>

        <div id="content" class="container">

            {% block page_title %}{% endblock %}

            {% include 'flashbags.html.twig' %}

            {% block content %}{% endblock %}

        </div>

        <div id="scripts">

            <!-- JS : JQuery (3.2.1) -->
            <script src="/assets/js/jquery-3.2.1.js"></script>
            <!-- JS : Popper -->
            <script src="/assets/js/popper.js"></script>
            <!-- JS : Bootstrap (4.x.x) -->
            <script src="/assets/js/bootstrap.js"></script>

            <!-- Custom JS -->
            <script src="/assets/js/app.js"></script>

            {% block javascripts %}{% endblock %}

        </div>


        {% block footer %}
        <div id="footer">

            <p>
                Projet Tutoré - Département Informatique - IUT Lyon1, site de Bourg-en-Bresse<br/>
                Étudiants : Dyvia Fleury, Théo Champion et Tom-Brian Garcia
            </p>

        </div>
        {% endblock %}

    </body>
</html>
